
.signUpForm{
  justify-content: center;
  align-items: center;

}
.signupContainer {
    display: table;
}
.texts{
    display: table-cell;
    justify-content: flex-start;
}
.inputs{
    display: table-cell;
}
.valBt{
    border: none;
    cursor: pointer;
}
.inputSignUp{
    display: block;
    border: none;
    border-bottom: 1.5px solid #747474;
    width: 270px;
    height: 30px;
}
.signUpBt2 {
    margin-top: 30px;
    width: 300px;
    height: 59.75px;
    background-color: #ffcaca;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}