.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupContainer {
    margin-left: 100px;
    display: table;
}
.inputs{
    display: table-cell;
}
.valBt{
    display: table-cell;
    margin-left: 30px;
    border: none;
    cursor: pointer;
}
.inputSignUp{
    display: block;
    border: none;
    border-bottom: 1.5px solid #747474;
    width: 350px;
    height: 30px;
    margin-top: 20px;
}
.signUpBt2 {
    margin-top: 60px;
    width: 350px;
    height: 59.75px;
    background-color: #ffcaca;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}