.TodoTemplate {
  width: 512px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: initial;
}

.title {
  background: #ffcaca;
  color: black;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: #ffecec;
  color: black;
}
