/* Timer.css */
.timer {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.timer h3 {
  font-size: 1.5em;
  margin: 0;
}

.timer-display {
  display: flex;
  font-size: 2em;
  margin: 20px auto;
  padding: 0 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-direction: column;
}
.timer-display-min:hover,
.timer-display-sec:hover {
  border: black 2px solid;
}

.between {
  font-size: 2em;
  margin: 20px 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

.timer-display-min,
.timer-display-sec {
  font-size: 2em;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.incrementMin,
.incrementSec {
  order: -1;
}
.decrementMin,
.decrementSec {
  order: 1;
}

.timer-controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-display-toggle,
.timer-controller button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffcaca;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
}
.timer-display-toggle:hover,
.timer-controller button:hover {
  background-color: #ff5675;
}
.timer-controller .editingMin,
.editingSec {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  font-size: 30px;
}
