/* Timer.css */
.timer {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.timer h3 {
  font-size: 1.5em;
  margin: 0;
}

.timer-display {
  font-size: 2em;
  margin: 20px 0;
  cursor: pointer; /* 추가: 클릭 가능하도록 cursor 설정 */
}
.timer-display-min {
  font-size: 2em;
  margin: 20px 0;
  cursor: pointer;
}
.timer-display-sec {
  font-size: 2em;
  margin: 20px 0;
  cursor: pointer;
}

.timer-display:hover {
  text-decoration: underline; /* 추가: 호버 시에 밑줄 표시 */
}

.timer-controller {
  display: flex;
  justify-content: center;
}

.timer-controller button {
  font-size: 1em;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timer-controller button:hover {
  background-color: #0056b3;
}

/* 추가: 편집 상태일 때 form의 스타일 */
.timer-controller .editing {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}
