.calendar {
  width: fit-content;
  font-family: Arial, sans-serif;
  display: grid;
  border-radius: 10px;
  overflow: hidden;
}

.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffcaca;
  color: black;
  padding: 10px;
}

.text_month {
  font-size: 20px;
}

.prevMonth,
.nextMonth {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.col-end {
  display: flex;
}
/* 요일 표시 */
.days_row {
  display: flex;
  background-color: #f2f2f2;
  padding: 10px 0;
}

.col {
  flex: 1;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 30px;
}

.body {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.row {
  display: flex;
}

.col-cell-valid {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
}

.col-cell-selected {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #0074b4;
  background-color: #0074b4;
  color: white;
}

.col-cell-not-valid {
  display: flex;
  text-align: center;
  padding: 10px;
  cursor: not-allowed;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.col-cell-disabled {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: not-allowed;
  border: 1px solid #ccc;
  background-color: #eee;
}

.text.not-valid {
  flex: 1;
  color: #ccc;
}
