.searchBtn{
    margin-left: 10px;
    cursor: pointer;
}
.modalIDinput{
    font-size: 17px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: white;
    width: 600px;
    height: 35px;
  }
  .searchedFrContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .searchedFrName{
    flex:1;
    margin-left: 30px;
    font-size: 20px;
  }
  .searchedFrID{
    flex:2;
    font-size: 15px;
  }
  .addBtn{
    float: right;
    margin-right: 35px;
    margin-top: 10px;
    cursor: pointer;
}
.underline{
    width: 640px;
    border-bottom: 1.5px solid #747474;
}