.inputLogin {
  background-color: #ededed;
  width: 381.23px;
  height: 59.75px;
  border: none;
  border-radius: 13px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 10px;
}
.LoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.loginBt {
  width: 381.23px;
  height: 59.75px;
  background-color: #ffcaca;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signUpBt {
  color: gray;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.pagetitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}
.warning{
  font-size:10px;
  color: red;
}
