body {
  display: flex;
  justify-content: space-between;
}
.calendar {
  width: 50%;
}

.timerTodoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Timer {
  width: 30%;
  order: -1;
}
.TodoList {
  width: 30%;
}
