.logo{
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 120px;
  cursor: pointer;
}
.mainContainer {
  display: flex;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  order: 1;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.timerTodoContainer {
  order: 2;
  display: flex;
  flex-direction: column;
  order: 1;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.toMyInfo {
  float:right;
  margin-top: 20px;
  margin-right: 60px;
  cursor: pointer;
}
.template {
  width: 300px;
  height: 40px;
  border-radius: 13px;
  background: #ffcaca;
  text-align: center;
  font-size: 30px;
}
